@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/* 공통 적용 css */
body { /* 전체 화면 */
    font-family: NanumGothic;
    line-height: 1.5;
    color: #432;
}
a { /* 클릭하면 링크 넘어가는 태그 */
    text-decoration: none; /* 원래 생기는 밑줄을 없애기 */
}
img {
    max-width: 100%; /* 이미지가 부모요소보다 커지는 것 방지 */
}

/***** Header (index.html) *****/
.logo { /* WCB cafe 로고 이미지 */
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    /* border: 1px solid red; */
    display: flex; /* 가로 정렬 */
    list-style: none; /*li점 없애기 */
    font-size: 1.25rem; /* rem:웹 브라우저 기본 글씨크기(16px) */
    text-transform: uppercase; /* 알파벳 대문자로 변환 */
    margin-top: 34px;
    
    width: 300px; /* 추가1 */
    justify-content: space-around; /* 추가2 */
}
.main-nav li {
    /* border: 1px solid red; */
    /* margin-left: 36px; */
}
.main-nav a {
    color: #432;
}
.main-nav a:hover { /* 마우스를 올리면 */
    color: #0bd;
}

/* 로고와 nav메뉴를 가로로 정렬하기 */
.page-header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between; /* 서로 균등하게 여백주기 */
}
/* 로고와 nav메뉴를 화면 가운데 정렬 */
.wrapper {
    max-width: 1100px;
    margin: 0 auto; /* 여백의 위아래는 0, 좌우는 자동 */
    padding: 0 4%; /* 화면 크기에 맞춰 좌우 안쪽여백 4% */
    /* border: 1px solid red; */
}
/* index.html 페이지 중심글과 버튼 꾸미기 */
.home-content {
    /* border: 1px solid red; */
    text-align: center;
    /* margin: 10%; 수정 3 */
    margin-top: 10%;
}
.home-content p {
    font-size: 1.2rem; /*기본 글자크기 x 1.2*/
    margin: 10px 0 40px 0; /* 여백: 위(10) 오른쪽(0) 아래(40) 왼쪽(0) */ 
}
/* 가장 큰 글씨와 버튼 꾸미기 */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher';
    text-transform: uppercase; /* 알파벳 대문자로 변환 */
    font-weight: normal; /* 글자 굵기 */
}
.button {
    font-size: 1.4rem;
    background-color: #0bd;
    color: #fff; /* 글자색깔 */
    border-radius: 5px; /* 사각형을 좀 둥글게 */
    padding: 18px 32px;
}
/* index.html 화면 전체를 감싸는 커피 이미지 */
#home {
    /* border: 1px solid red; */
    background-image: url(images/main-bg.jpg);
    min-height: 100vh; /* 실제 화면의 높이만큼 이미지를 나타나게 vertical height*/
}
.big-bg {
    background-size: cover; /* 이미지 가로-세로 비율을 유지하며 화면에 채우기 */
    background-position: center top;
    background-repeat: no-repeat; /* 혹시 화면이 엄청크면 타일처럼 반복되는 이미지가 되지 않게 */
}

/* 화면이 500px보다 작을때 index.html 반응형 적용 */
@media screen and (max-width: 500px) { /* 화면 가로길이가 500px보다 작으며 */
    .page-header { /* 카페 로고랑 nav 메뉴 */
        display: flex;
        flex-direction: column; /* 세로 배치 */
        justify-content: space-between; /* 균등한 간격 */
        /* border: 1px solid red; */
    }
    .page-title { /* we'll make~ 큰 글씨 부분 */
        font-size: 2rem; /* 5rem => 2rem으로 글자크기 줄이기 */ /* 추가4 */
        font-family: 'Philosopher';
        text-transform: uppercase;
        font-weight: normal;
    }
    /* 추가 5.main-nav */
    .main-nav {
        display: flex; /* 가로 정렬 */
        list-style: none; /*li점 없애기 */
        font-size: 1rem; /* rem:웹 브라우저 기본 글씨크기(16px) */
        text-transform: uppercase; /* 알파벳 대문자로 변환 */
        margin: 16px auto;
        
        width: 300px; /* 추가1 */
        justify-content: space-around; /* 추가2 */
    }
}


/***** news.html의 CSS 시작*****/
#news {
    /* border: 1px solid red; */
    background-image: url(images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center; /*글자 가운데 정렬*/
}

/* news.html의 footer */
footer {
    background-color: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
}

/* News 콘텐츠의 CSS */
.news-contents {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
article {
    width: 74%;
}
aside {
    width: 22%;
}
/* article의 post 글 부분 */
.post-info {
    /* border: 1px solid red; */
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-date {
    background-color: #0bd;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 0;
    padding-top: 10px;
    font-size: 1.5rem; /*1rem=16px*/
}
.post-date span {
    font-size: 1rem;
    display: block; /* 세로로 쌓이는 성질 */
    border-top: 1px rgba(255,255,255,0.5) solid;
    width: 60%; 
    margin: 0 auto; /*가운데 정렬*/
}
.post-title {
    /* border: 1px solid red; */
    font-size: 1.8rem;
    font-weight: normal;
}
.post-title, .post-cat {
    margin-left: 120px;
}
article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 10px;
}
/* news.html의 aside 부분 */
.sub-title {
    /* border: 1px solid red; */
    font-size: 1.3rem;
    padding: 0 8px 8px 5px; /* 위 오른쪽 아래 왼쪽 */
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}
aside p {
    padding: 12px 10px; /* 위아래, 좌우 */
}
.sub-menu {
    /* border: 1px solid red; */
    list-style: none;
    margin-bottom: 60px;
}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    /* border: 1px solid red; */
    color: #432;
    padding: 10px;
    display: block; /* a태그 클릭 여유공간이 더 넓어짐 */
}
.sub-menu a:hover {
    color: #0bd;
}

/***** menu.html의 CSS  *****/
#menu {
    /* border: 1px solid red; */
    background-image: url(images/menu-bg.jpg);
    min-height: 100vh; /*vh: view heightㄴ */
}
.menu-content {
    /* border: 1px solid red; */
    max-width: 560px;
    margin-top: 10%;
}
/* menu-content의 자식인 page-title */
.menu-content .page-title { 
    /* border: 1px solid red; */
    text-align: center;
}
.menu-content p {
    font-size: 1.2rem; 
    margin-top: 10px;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}
#contact {
    background-image: url(images/contact-bg.jpg);
    min-width: 100%;
}
form div{
    margin-bottom: 14px;

}
label{
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}
input[type='text'], input[type='email'], textarea{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    border-radius: 5px; 
    padding: 10px;
    font-size:  1rem;
    width: 100%;
    max-width: 480px;
}
input[type='submit'] {
    border: none;
    cursor: pointer;
}
#location{
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 20%;
}
.location-info p{
    padding: 12px 10px;
}